In [1]:
import pandas as pd

In [2]:
player_trad= pd.read_csv('player_traditional_stats.csv')
player_adv=pd.read_csv('player_advanced_stats.csv')
team_trad=pd.read_csv('team_traditional_stats.csv')
team_adv=pd.read_csv('team_advanced_stats.csv')

In [ ]:
player_trad.head()

,gameId,teamId,teamCity,teamName,teamTricode,teamSlug,personId,firstName,familyName,nameI,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,22500492,1610612744,Golden State,Warriors,GSW,warriors,202710,Jimmy,Butler III,J. Butler III,...,1,2,3,7,3,0,2,0,15,9.0
1,22500492,1610612744,Golden State,Warriors,GSW,warriors,203110,Draymond,Green,D. Green,...,0,3,3,2,0,1,1,0,8,-15.0
2,22500492,1610612744,Golden State,Warriors,GSW,warriors,1642366,Quinten,Post,Q. Post,...,1,4,5,2,0,0,2,1,15,14.0
3,22500492,1610612744,Golden State,Warriors,GSW,warriors,1630541,Moses,Moody,M. Moody,...,0,2,2,2,1,0,1,1,8,16.0
4,22500492,1610612744,Golden State,Warriors,GSW,warriors,201939,Stephen,Curry,S. Curry,...,0,2,2,5,1,0,2,2,31,5.0

In [ ]:
player_adv[columns]

TypeError: 'Index' object is not callable

In [7]:
player_adv.head()

,gameId,teamId,teamCity,teamName,teamTricode,teamSlug,personId,firstName,familyName,nameI,...,turnoverRatio,effectiveFieldGoalPercentage,trueShootingPercentage,usagePercentage,estimatedUsagePercentage,estimatedPace,pace,pacePer40,possessions,PIE
0,22500492,1610612762,Utah,Jazz,UTA,jazz,1629004,Svi,Mykhailiuk,S. Mykhailiuk,...,0.0,0.833,0.833,0.091,0.091,103.31,103.31,86.09,59.0,0.070
1,22500492,1610612762,Utah,Jazz,UTA,jazz,1628374,Lauri,Markkanen,L. Markkanen,...,3.4,0.593,0.608,0.304,0.304,98.94,98.94,82.45,83.0,0.123
2,22500492,1610612762,Utah,Jazz,UTA,jazz,201567,Kevin,Love,K. Love,...,8.3,0.417,0.417,0.123,0.123,102.86,102.86,85.71,51.0,0.096
3,22500492,1610612762,Utah,Jazz,UTA,jazz,1641729,Brice,Sensabaugh,B. Sensabaugh,...,28.6,0.750,0.750,0.200,0.200,105.75,105.75,88.13,59.0,0.067
4,22500492,1610612762,Utah,Jazz,UTA,jazz,1641718,Keyonte,George,K. George,...,19.4,0.500,0.545,0.333,0.333,99.04,99.04,82.53,74.0,0.070

In [6]:
player=pd.merge(player_trad, player_adv, on=['Player', 'Team'], how='left')

KeyError: 'Player'